<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat Room</title>
    <style>
      #title {
        font-size: 70px;
        text-align: center;
      }
    </style>
	<!--
	<script>alert("\\子ㄋ/")</script>
	-->
  </head>
  <body>
    <div id="title">子ㄋ好可撥什麼都不會讓我們這些電神來教她吧( ´･･)ﾉ(._.`)</div>
	<div id="title" style="font-size:25px;">子ㄋ大法好</br>陽菜我婆</br>喵～喵～喵～<br>OuO<br></div>
    <form action="/" method="post">
      <input placeholder="Name" name="name">
      <input placeholder="Post Content" name="post">
      <input type="submit" value="Submit">
    </form>

    <div>
      {% for post in posts %}
      	{% if post[3] != "" and post[3] != "" %}
			{% if post[2] == "root" %}
				<div style="color: red;">{{ post[1][4:19] }} {{ post[2] + " : " + post[3] }}</div>
			{% elif "教我" in post[3] or "CSY" in post[3] %}
				<div>{{ post[1][4:19] }} <b>{{ post[2] + " : " + post[3] }}</b></div>
			{% else %}
       			<div>{{ post[1][4:19] }} {{ post[2] + " : " + post[3] }}</div>
			{% endif %}
      	{% endif %}
      {% endfor %}
    </div>
  </body>
</html>
