<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat Room</title>
    <style>
      #title {
        font-size: 70px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="title">title</div>
    <a href="http://127.0.0.1:8081" target="_blank">register</a>
    <a href="http://127.0.0.1:8082" target="_blank">login</a>

    <form action="/" method="post">
      <input placeholder="Name" name="name">
      <input placeholder="Post Content" name="post">
      <input type="submit" value="Submit">
    </form>

    <div>
      {% for post in posts %}
      	{% if post[3] != "" and post[3] != "" %}
			{% if post[2] == "root" %}
				<div style="color: red;">{{ post[1][4:19] }} {{ post[2] + " : " + post[3] }}</div>
			{% else %}
       			<div>{{ post[1][4:19] }} {{ post[2] + " : " + post[3] }}</div>
			{% endif %}
      	{% endif %}
      {% endfor %}
    </div>
  </body>
</html>
